/*MOBILE FIRST DESIGN*/

body {
	background: #6C809A;
}

h1, h2, h3, h4, h5, h6 {
	color: #6C809A;
	font-family: 'Bungee Shade'
}

p, nav, .aside-nav {
	color: #633443;
	font-family: 'Raleway';
}

#el-boy {
	border-radius: 1em;
	-webkit-box-shadow: 3px 4px 10px #6C809A;
	-moz-box-shadow: 3px 4px 10px #6C809A;
	-ms-box-shadow: 3px 4px 10px #6C809A;
	-o-box-shadow: 3px 4px 10px #6C809A;
	box-shadow: 3px 4px 10px #6C809A;
}

#header {
	background: #FFEEDB;
	border-radius: 1em 1em 0 0;
}

nav {
	border-radius: 0 0 1em 1em;
}

#title {
	font-size: 2em;
	text-align: center;
}

.owl-carousel .item-video {
	height:320px;
}

.owl-carousel .owl-video-wrapper, .box {
	border-radius: 10px;
	margin: 1px;
}


#dev-artist {
	font-family: 'Bad Script';
}
