/* MOBILE FIRST DESIGN */

body {
	background: #6C809A;
}

h1, h2, h3, h4, h5, h6 {
	color: red;
	font-family: 'Bungee Shade'
}

p, nav, .aside-nav {
	color: #633443;
	font-family: 'Raleway';
}

a, a:link {
	color: red;
}

/* Header */

#header {
	background: #FFEEDB;
	border-radius: 1em 1em 0 0;
}

nav {
	border-radius: 0 0 1em 1em;
}

#title-logo {
		position: relative; 
    width: 100%; /* for IE 6 */
	}

#fat-to-thin {
	opacity: 0.08;
}

#title {
	position: absolute; 
 	top: 1em;
  left: 0.5em;
  width: 100%;
  font-size: 11vw;
}

/* Navigation */

#youtube-nav {
	background: #eee;
	color: red;
	font-weight: bold;
	text-shadow: 1px 1px #999;
}

.top-nav li a:hover, #youtube-nav:hover {
    background: #93a4bb;
}

/* Caoursel */

.owl-carousel .item-video {
	height:320px;
}

.owl-carousel .owl-stage-outer, .box {
	border-radius: 1em;
}

	/* Carousel Dots from previous version */

.owl-dots {
    text-align: center;
}
.owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    border-radius: 20px;
    background: #000;
}
.owl-dot:hover, .owl-dot.active {
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* About */

#about {
	font-size: 1em;
}

blockquote p {
	font-family: "Bad Script";
	font-size: 2em;
	border-top: 1px solid #6C809A;
	border-bottom: 1px solid #6C809A;
	margin-top: 3%;
	padding: 2%;
	line-height: 1.5em;
}

blockquote p:before,
blockquote p:after {
	color: red;
	font-size: 1.1em;
	line-height: 0;
	vertical-align: middle;
}

blockquote p:before {
	content: '“';
}

blockquote p:after {
	content: '”';
}

/* Updates */

section {
	margin: 2% 0;
  border-radius: 6px;
  padding: 0.7em;
  background: rgb(134, 177, 210);
  box-shadow: 2px 2px 3px #222;
}

section h1, h2, h3, h4, h5 {
	font-family: "Raleway";
}

section:nth-child(2n-1) {
	background: #d4ddeb;
}

.scrollable {
	max-height: 200px; /* Make taller for bigger screens */
  overflow-y: scroll;
  background: #FFEEDB;
  border-radius: 10px;
  /*text-align: justify;*/
  box-shadow: inset 1px 1px 6px #6C809A;
}

#social-media {
	margin-top: 5%;
	display: -ms-flexbox;
	display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

/* Rocommended Reading */

iframe {
	display: flex;
	align-items: center;
}

/* Footer */

#dev-artist {
	font-family: 'Bad Script';
}



/* RESPONSIVE */


	/* widescreen monitors */

@media screen 
	and (min-width: 1060px) { 

	#nav-home {
		border-radius: 0 0 0 1em;
	}

	#title {
    font-size: 7em;
	}

	#after-blockquote {
		margin-top: 2%;
	}

	.scrollable {
		max-height: 300px;
	}

	#social-media {
		margin-top: 8%;
	}






}
