/* Coolors Exported Palette - coolors.co/91c4f2-75bba7-6c809a-704377-633443 */

/* HSL */
$color1: hsla(208%, 79%, 76%, 1);
$color2: hsla(163%, 34%, 60%, 1);
$color3: hsla(214%, 19%, 51%, 1);
$color4: hsla(292%, 28%, 36%, 1);
$color5: hsla(341%, 31%, 30%, 1);

/* RGB */
$color1: rgba(145, 196, 242, 1);
$color2: rgba(117, 187, 167, 1);
$color3: rgba(108, 128, 154, 1);
$color4: rgba(112, 67, 119, 1);
$color5: rgba(99, 52, 67, 1);